body{
    background-color: #790252;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
::placeholder{
    color: #fff !important;
}
.container{
    max-width: 400px;

    input[type=text],
    input[type=text]:focus{
        color: #fff;
        border: none;
        background-color: rgba(0, 0, 0, 0.205);
        max-width: 400px;
    }
    .todos li{
        background-color: #cacaca !important;
    }
    .delete{
        cursor: pointer;
    }
}